<div class="flex items-center justify-between lg:px-10 md:px-4 px-2">
  {%- if settings.logo != blank -%}
    {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
    {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
    <img
      src="{{ settings.logo | image_url: width: 500 }}"
      alt="{{ logo_alt }}"
      class="password-logo w-full"
      style="max-width: {{ settings.logo_width }}px"
      width="{{ settings.logo_width }}"
      height="{{ logo_height }}"
    >
  {%- else -%}
    <h1 class="text-2xl font-serif text-black">{{ shop.name }}</h1>
  {%- endif -%}

  {%- if shop.password_message != blank -%}
    <div class="mt-4 text-center text-white">
      {{ shop.password_message }}
    </div>
  {%- endif -%}

  {% capture modal_trigger %}

    

      {% render 'icon-lock' %} Enter using password
  
{% endcapture %}

  {% capture modal_content %}


            <!-- Dialog Body -->
            <div class="px-4 py-8"> 
              {% form 'storefront_password' %}
                {{ form.errors | default_errors }}
              
                <div class="password">
                  <label for="password-input">Enter password below to access the store</label>
                  <input id="password-input" type="password" name="password"
                    class="field__input w-full px-4 py-2 mt-2 border mb-4 border-gray-300 focus:outline-none focus:ring-2 focus:ring-black"
                    placeholder="password" required

                  >
                </div>
              
                <div class="submit">
                  <input type="submit" value="Sign in"
                    class="py-2 px-4 flex justify-center w-full bg-black bg-opacity-85 hover:bg-opacity-100 text-white  hover:bg-black focus:outline-none focus:ring-2 focus:ring-blue-500"
                  
                  >
                </div>
              {% endform %}
            </div>
              
          
          {% endcapture %}
  {% render 'popup-modal',
    trigger: modal_trigger,
    title: 'Password',
    content: modal_content,
    trigger_class: ' text-left w-full flex item center gap-1 border-gray-200 py-4 text-sm font-medium text-gray-700  ',
    popup_button: ''
  %}
</div>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-password-header.settings.logo_header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-password-header.settings.logo_help.content"
    }
  ]
}
{% endschema %}
